body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
}

.container {
    width: 80%;
    max-width: 500px;
    margin: 100px auto;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
}

input,
select {
    padding: 10px;
    margin: 10px 5px;
    font-size: 16px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 25px;
}

.logo {
    display: block;
    width: 100px;
    height: auto;
    margin: 30px auto 0;
}